
body{
    margin: 0;
    padding: 0;
    
}
.wrapper {
    min-height: 100vh;
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: row; /* affichage horizontal */
    background-color: blue;
    align-content: flex-start;
}
.nav {
    width: 75px;
    order: 0;
    background-color: brown; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    
}

.menu{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.navFoot {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    background-color: aqua;
    height: 15%;
}
.navFootText{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.navHead{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    background-color: cadetblue;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.btnNav{
    width: 75px;
    height: 40px;
    text-align: center;
    padding : 0%;
}
.btnNavHome {
    width: 200px;
    height: 40px;
    text-align: center;
    padding : 0%;
}
.content {
    background-color: beige;
    /*background-image: url("/assets/images/background.jpg");*/
    flex: 1 ;
    width: 50%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}
.contentAbout{
    background-color: chartreuse; 
}
.contentHome{
    margin-top: 35%;
    margin-left: 10%;
}
.contentHome>p{
    margin-top: 10%;
}
.game {
    background-color:darkgray;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gameContent {
    width: 70%;
    height: 70%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#gameChoice {
    width: 100%;
    text-align: center;
}
.gameLayer{
    width: 100vh;
    
}


