<div class="nav">
    <h1>ola</h1>
    <ul class="menu">
        <li>Accueil</li>
        <li>About me</li>
        <li>Skills</li>
        <li>Contact</li>
    </ul>
    <div class="test">
        <ul class="test2">
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
           
        </ul>
    </div>    
</div>



