<div class="nav">
    <h1>ola</h1>
    
    <ul class="menu">
        <li>
           <LienNav
            @text="Home"
            @action ={{action "showPerson" "Home"}}
        /> 
        </li>
        <li>
           <LienNav
            @text="About me"
            @action ={{action "showPerson" "About me"}}
        /> 
        </li>
        <li>
           <LienNav
            @text="Skills"
            @action ={{action "showPerson" "Skills"}}
        /> 
        </li>
        <li>
           <LienNav
            @text="Contact"
            @action ={{action "showPerson" "Contact"}}
        /> 
        </li>
    </ul>
    <div class="test">
        <ul class="test2">
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
           
        </ul>
    </div>    
</div>




