{{outlet}}
<div class="contentAbout">
    <h1>About me </h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>
        Né le 7 juin 1994,
        Développeur web, amateur de
        jeux vidéo et curieux de tout.
        Autodidacte, toujours motivé
        pour apprendre de nouvelles
        choses.
        Intéressé par le travail manuel
        et le bricolage.
    </p>
</div>
