{{!-- The following component displays Ember's default welcome message. --}}

<div class="wrapper">
    <NavBar />
    <div class="content">
        {{outlet}}
    </div>
    <div class="game">
        <Game />
    </div>
</div>




{{!-- Feel free to remove this! --}}

