{{!-- The following component displays Ember's default welcome message. --}}

<div class="wrapper">
    <NavBar />
    <div class="content">
        ola ketal
    </div>
</div>




{{!-- Feel free to remove this! --}}

{{outlet}}